*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffe0e5;
}
header{
    
    display: flex;
    margin: 15px 0;
}
.todo-icon{
    height: 100px;
    margin-left: 10px;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90vw;
    background-color: white;
   border-radius: 15px;
   box-shadow: 0 0 70px rgba(0,0,0,0.2);
   padding: 10px;
   
}
main form{
    display: flex;
    width: 90%;
    margin: 15px 0;
}
main form input{
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    outline: none;
    font-size: 19px;
    border: 2px solid #f875aa;
    border-radius: 15px;
   
}
main form button{
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: #f875aa;
    border: none;
    border-radius: 8px;
    transition: transform .4s ease-in-out;
}
main form button:hover{
    transform: scale(1.1);
}
main ul{
    width: 100%;
    list-style: none;
}
main ul li{
    margin-bottom: 10px;
}
main ul li .task_body{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
main ul li .task_body .bodyandcircle{
    display: flex;
}
main ul li .task_body .bodyandcircle label{
    margin-right: 15px;
    line-height: 30px;
}
main ul li .task_body .bodyandcircle .task-item{
    font-size: 20px;
}
main ul li .task_body .bodyandcircle .task-item.checked{
    text-decoration: line-through;
    opacity: 0.6;
}
main ul li .task_body .delete{
    font-size: 30px;
    transform: rotate(45deg);
    color: #f875aa;
    cursor: pointer;
    transition: font-weight .3s ease;
}
main ul li .task_body .delete:hover{
    
    font-weight: 700;
}
main ul li span{
    opacity: 0.6;
    margin-bottom:5px ;
}
footer{
   height: 50px;
   width: 100%;
   display: grid;
   place-content: center;
    background-color: #f875aa;
    margin-top: 15px;
}
footer p{
    font-size: 20px;
}
